photodb view/.DS_Store
photodb view/build/
photodb view/photodb view.xcodeproj/xcuserdata
photodb view/photodb view/.DS_Store

photodb-server/application.log
photodb-server/event.log

data/
.DS_Store
